<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/SparLogo1.png" alt="" width="200"  >

    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item ">
          <i class="fa fa-home fa-2x  "></i>
          <a class="navbar-brand" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-plus-square fa-lg "></i>
          <a class="navbar-brand"  data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">Añadir</a>
        </li>
        <li class="nav-item">
          <i class="fa fa-hourglass-end fa-lg " ></i>
          <a class="navbar-brand" href="#">
            Próxima Caducidad
            <span class="badge rounded-pill bg-danger">4</span>
          </a>

        </li>
        <!-- <button type="button" class="btn btn-primary">
          Próxima Caducidad <span class="badge badge-light">4</span>
        </button> -->

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
    </div>
  </div>
</nav>












